/* React-generated styles  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  font-family: Arial, sans-serif;
  background-color: navy; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: black; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  width: 320px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff6b6b;
}

p {
  font-size: 24px;
  margin: 10px 0;
  color: white;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}



/* Style for the 404 page */
.error-container {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  
}

/* Style for the error boundary page */
.error-boundary {
  color: red;
  font-size: 24px;
  margin-top: 100px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
